/* Gaya untuk halaman login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* Putih untuk background */
    color: #2E7D32; /* Hijau tua untuk teks */
    line-height: 1.6;
}

header, footer {
    background-color: #1B5E20; /* Hijau tua untuk header dan footer */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

h2 {
    color: #1B5E20; /* Hijau tua untuk sub judul */
    margin-bottom: 20px;
    font-size: 24px;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #A5D6A7; /* Hijau lembut untuk border input */
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #2E7D32; /* Hijau sedang untuk tombol */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #81C784; /* Hijau lembut untuk efek hover */
}
